../.DS_Store
../node_modules/
../dist/
../npm-debug.log*
../yarn-debug.log*
../yarn-error.log*
.DS_Store
DAOs/.DS_Store
DAOs/src/.DS_Store
wildfly-16.0.0.Final/modules/system/layers/base/org/.DS_Store

# Editor directories and files
../.idea
../.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/Backend/nbproject/private/
/Backend/build/
/Backend/dist/